html
{ box-sizing:border-box; }

*, *:before, *:after
{ box-sizing:inherit; }
body{
    background: #c4c4c4;
}
h1 {
    color: red;
    font-size: 45px;
    text-align: center;
}

.container {
    display: flex;
    border: solid red 4px;
    flex-flow: wrap;
  

}

.container div {
    height: 100px;
    width: 20%;
    border: solid red 4px;
    padding: 5px;
    background: #fff;
    font-size:22px;
    font-weight: 500;
}

